
@import 'utilities/_static';
@import 'utilities/_helpers';

@mixin initialize() {
    $void: const-set('html-escapes', (
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#39;',
            '`': '&#96;'
        ));
    $void: const-set('html-unescapes', (
            '&amp;': '&',
            '&lt;': '<',
            '&gt;': '>',
            '&quot;': '"',
            '&#39;': "'",
            '&#96;': '`'
        ));
    $void: const-set('string-escapes', (
            '\\': '\\',
            "'": "'",
            '\n': 'n',
            '\r': 'r',
            '\u2028': 'u2028',
            '\u2029': 'u2029'
        ));
    $void: const-set('POSITIVE_INFINITY', 999999);
}

@include initialize();

@function __base-compare-ascending($value, $other) {
    @if $value > $other {
        @return 1;
    }

    @if $value < $other {
        @return -1;
    }

    @return 0;
}

@function __base-index-of($list, $value, $from-index: 1) {
    $length: length($list);
    $index: $from-index;

    @while $index <= $length {
        @if (nth($list, $index) == $value) {
            @return $index;
        }

        $index: $index + 1;
    }

    @return -1;
}

@function __base-sort-by() { /* TODO */ }

@function __char-at-callback($string) {
    // ... 
}

@function __STRING-char-at($string, $index) {
    @return str-slice($string, $index, $index);
}

@function __chars-index($string, $chars, $direction) {
    $index: 1;
    $length: str-length($string);
    $direction-map: ('right': -1, 'left': 1);
    $increment: map-get($direction-map, $direction);

    @while str-index($chars, __STRING-char-at($string, $index))
        and $index <= $length {
        $index: $index + $increment;
    }

    @return $index;
}

@function __chars-left-index($string, $chars) {
    @return __chars-index($string, $chars, $direction: left);
}

@function __chars-right-index($string, $chars) {
    @return __chars-index($string, $chars, $direction: right);
}

@function __compare-ascending($map, $other) {
    // TODO
}

@function __compare-multiple-ascending($map, $other) {
    // TODO
}

@function __escape-html-char($char) {
    @return const-get('html-escapes' $char);
}

@function __escape-string-char($char) {
    @return '\\#{const-get('string-escapes' $char)}';
}

@function __index-of-nan($list, $from-index, $from-right) {
    // TODO
}

@function __is-index($value, $length) {
    @return $value > -1
        and $value % 1 == 0
        and ($length == null or $value < $length);
}

@function __is-map-like($value) {
    @return $value and (type-of($value) == map);
}

@function __is-space($char-code) {
    // TODO - find the rest of the space characters
    @return $char-code == ' ';
}

@function __replace-holders($list, $placeholder) {
    // TODO
}

@function __sorted-uniq($list, $iteratee: null) {
    $seen: null;
    $index: 1;
    $length: length($list);
    $res-index: 1;
    $result: ();

    @while ($index <= $length) {
        $value: nth($list, $index);
        $computed: if($iteratee, call($iteratee, $value, $index, $list), $value);

        @if not ($seen == $computed) {
            $seen: $computed;
            $result: append($result, $value);
        }

        $res-index: $res-index + 1;
        $index: $index + 1;
    }

    @return $result;
}

@function __trimmed-left-index($string) {
    $index: 1;
    $length: str-length($string);

    @while ($index <= $length) and (__is-space(__STRING-char-at($string, $index))) {
        $index: $index + 1;
    }

    @return $index;
}

@function __trimmed-right-index($string) {
    $index: str-length($string);

    @while ($index > 0) and (__is-space(__STRING-char-at($string, $index))) {
        $index: $index - 1;
    }

    @return $index;
}

@function __unescape-html-char($char) {
    @return const-get('html-unescapes' $char);
}

// SASSDASH
// ========

@function __sassdash($value) {
    @if (__is-map-like($value) && not type-of($value) == list) {
        @if (instanceof($value, 'SassdashWrapper')) {
            @return $value;
        }
    }

    @return new('SassdashWrapper', (
        value: $value
    ));
}

@function SassdashWrapper($value, $chain-all: false, $actions: ()) {
    @return (
        __actions__: $actions,
        __chain__: if($chain-all, true, false),
        __wrapped__: $value
    );
}

@function LazyWrapper($value) {
    @return (
        actions: null,
        dir: 1,
        drop-count: 0,
        filtered: false,
        iteratees: null,
        take-count: const-get('POSITIVE_INFINITY'),
        views: null,
        wrapped: $value
    );
}

@function __lazy-clone() {
    // todo
}

@function __lazy-reverse() {
    // todo
}

@function __lazy-value() {
    // todo
}

@function MapCache() {
    @return (
        __data__: ()
    );
}

@function __map-delete($this, $key) {
    $data: get($this, __data__);

    @return set($this, map-delete($data, $key));
}

@function __map-get($this, $key) {
    @return get($this, __data__ $key);
}

@function __map-has($this, $key) {
    $data: get($this, __data__);

    @return map-has-key($data, $key);
}

@function __map-set($this, $key, $value) {
    @return set($this, __data__ $key, $value);
}

@function SetCache($values: ()) {
    @return (
        data: (
            number: (),
            set: new(Set)
        ),
        values: $values
    );
}

@function __cache-index-of($this, $value) {
    $type: type-of($value);
    $data: get($this, data);
    $result: if($type == number, get($data, $type $value), method(get($data, set), has, $value));

    @return if($result, 0, -1);
}

@function __cache-push($this, $value) {
    $data: get($this, data);
    $type: type-of($value);

    @if ($type == number) {
        $data: set($data, $type $value, true);
    } @else {
        // data.set.add(value);
        $data: set($data, set, method(get($data, set), add, $value));
    }
}

@function __args-to-map($args) {
    // todo
}

@function __list-copy($list, $other: ()) {
    $index: 1;
    $length: length($list);
    $other-length: length($other);
    $result: ();

    @while ($index <= $length) {
        $result: append($result, nth($list, $index));

        $index: $index + 1;
    }

    @while ($other-length >= $index) {
        $result: append($result, nth($other, $index));

        $index: $index + 1;
    }

    @return $result;
}

@function __list-each($list, $iteratee) {
    $index: 1;
    $length: length($list);
    $break: false;
    $result-list: ();

    @while ($index <= $length) and not $break {
        $item: call($iteratee, nth($list, $index), $index, $list);

        @if (call($iteratee, nth($list, $index), $index, $list) == false) {
            $break: true;
        } @else {
            $result-list: append($result-list, $item);
        }

        $index: $index + 1;
    }

    @return $result-list;
}

@function __list-each-right($list, $iteratee) {
    $list: __list-reverse($list);
    $result-list: __list-each($list, $iteratee);
    $result-list: __list-reverse($result-list);

    @return $result-list;
}




