
$test-falsey: ('', 0, false, null);
$test-empty-list: ();

@function test-add($x, $y, $args...) {
    @return $x + $y;
}

@function test-square($n, $args...) {
    @return $n * $n;
}

@function test-double($n, $args...) {
  @return $n * 2;
}

@function test-fixed($n) {
    @return __number-to-fixed($n);
}

@function test-is-even($n, $args...) {
    @return $n % 2 == 0;
}

@function test-floor($n, $args...) {
  @return floor($n);
}

@function test-args($args...) {
  @return $args;
}

@function test-lists-equal($one, $two) {
  @if type-of($one) == number and type-of($two) == number {
    @return $one == $two and unit($one) == unit($two);
  } @else if (type-of($one) == list or type-of($one) == arglist)
        and (type-of($two) == list or type-of($two) == arglist) {
    $equal: length($one) == length($two);
    $index: 1;

    @if not $equal {
      @return false;
    }

    @while $index <= length($one) and $equal == true {
      @debug _map($one $two, nth $index);
      $equal: test-lists-equal(nth($one, $index), nth($two, $index));
      $index: $index + 1;
    }

    @return $equal;
  } @else {
    @return $one == $two;
  }
}

@mixin assert-lists-equal($one, $two, $args...) {
  $equal: test-lists-equal($one, $two);

  @return assert-true($equal)
}


@mixin test-group() { @content; }

@mixin xit($args...) { @if false { @content; } }