
@include test-module('_max') {
    @include test('should return the largest value from a collection') {
        @include assert-equal(_max(1 2 3), 3);
    }

    @include test('should return -infinity for empty collections') {
        @include assert-equal(_max(()), __const('NEGATIVE_INFINITY'));
    }

    @include test('should return -infinity for non-numeric collection values') {
        $collections: (true, false), (true: true, false: false);

        @each $collection in $collections {
            @include assert-equal(_max($collection), __const('NEGATIVE_INFINITY'), inspect($collection));
        }
    }
}

@include test-module('Sassdash') {
  @include test('_min') {
    @include assert-equal(_min(1 2 3), 1,
      'should return the smallest value from a collection');

    @include assert-equal(_min(()), __const('POSITIVE_INFINITY'),
      'should return Infinity for empty collections');

    @include assert-equal(_min(('a' 'b') ('a': 'a', 'b': 'b')), __const('POSITIVE_INFINITY'),
      'should return Infinity for non-numeric collection items');
  }
}


@function test-maxmin-1($num, $args...) {
  @return -$num;
}
@include test-module('Sassdash') {
  @include test('_max and _min') {
    @each $method-name in 'max', 'min' {
      $list: 1 2 3;
      $func: unquote('_#{$method-name}');
      $is-max: $method-name == 'max';

      @include assert-equal(_call($func, null, $list, test-maxmin-1), if($is-max, 1, 3),
        'should work with an iteratee argument');

      $maps: (('a': 2), ('a': 3), ('a': 1));
      $actual: _call($func, null, $maps, 'a');

      @include assert-equal($actual, nth($maps, if($is-max, 2, 3)),
        'should work with _pluck style iteratee');

      $actual: _call($func, null, ('a': 1, 'b': 2, 'c': 3));

      @include assert-equal($actual, if($is-max, 3, 1),
        'should iterate a map');

      @include assert-equal(_call($func, null, 'abc'), if($is-max, 'c', 'a'),
        'should iterate a string');

      $list: (2 3 1, 5 6 4, 8 9 7);
      $actual: _map($list, $func);

      @include assert-equal($actual, if($is-max, 3 6 9, 1 4 7),
        '#{$func} should work as an iteratee for _map');

      @include assert-equal(_map('abc', $func), 'a' 'b' 'c',
        '#{$func} should work as an iteratee for _map');

      @include assert-equal(_((40,), $func), 40,
        'should work when chaining on a list with only one value');
    }
  }
}