

@function __list-copy($list, $other: ()) {
    $index: 1;
    $length: length($list);
    $other-length: length($other);
    $result: ();

    @while ($index <= $length) {
        $result: append($result, nth($list, $index));

        $index: $index + 1;
    }

    @while ($other-length >= $index) {
        $result: append($result, nth($other, $index));

        $index: $index + 1;
    }

    @return $result;
}


@function __base-copy($source, $map, $props: null) {
    @if not ($props) {
        $props: $map;
        $map: ();
    }

    $index: 1;
    $length: length($props);

    @while ($index <= $length) {
        $key: nth($props, $index);
        $map: set($map, $key, get($source, $key));

        $index: $index + 1;
    }

    @return $map;
}