@function __invert($map, $multi-value: false, $guard: false) {
    @if $guard and __is-iteratee-call($map, $multi-value, $guard) {
        $multi-value: null;
    }

    $props: __keys($map);
    $result: ();

    @each $key in $props {
        $value: __get($map, $key);

        @if ($multi-value) {
            @if (map-has-key($result, $value)) {
                $result: __set($result, $value, append(__get($result, $value), $key));
            } @else {
                $result: __set($result, $value, ($key,));
            }
        } @else {
            $result: __set($result, $value, $key);
        }
    }

    @return $result;
}


/// Creates a map composed of the inverted keys and values of `object`.
/// If `object` contains duplicate values, subsequent values overwrite property
/// assignments of previous values unless `multiValue` is `true`.
///
///
/// @group Map
/// @param {Map} object The object to invert.
/// @param {boolean} (multiValue) Allow multiple values per key.
/// @param {Map} (guard) Enables use as a callback for functions like `_map`.
/// @returns {Object} Returns the new inverted object.
/// @example scss
/// $object: { 'a': 1, 'b': 2, 'c': 1 };
/// _invert(object);
/// // => { '1': 'c', '2': 'b' }
/// // with `multiValue`
/// _invert(object, true);
/// // => { '1': ('a', 'c'), '2': ('b') }

@function _invert($args...) {
    @return call('__invert', $args...);
}
