@function __pick-by-callback-iteratee($value, $key, $map) {
    $result: __this('result');
    $predicate: __this('predicate');

    @if __exec($predicate, $value, $key, $map) {
        $_: __this('result', __set($result, $key, $value));
    }

    @return true;
}


@function __pick-by-callback($map, $predicate) {
    $result: ();
    $_: __scope((
        'map': $map,
        'predicate': $predicate,
        'result': $result
    ));
    $pick-by-callback-iteratee: __bind('__pick-by-callback-iteratee');
    $_: __base-for-in($map, $pick-by-callback-iteratee);
    $result: __this('result');
    $_: __scope(false);

    @return $result;
}

@function __pick-by-list($map, $props) {
    $type: type-of($map);
    $map: __to-map($map);
    $result: ();

    @each $key in $props {
        @if (map-has-key($map, $key)) {
            $result: __set($result, $key, __get($map, $key));
        }
    }

    @return if($type == 'list', __to-list($result), $result);
}


/// Creates a map composed of the picked `object` properties. Property
/// names may be specified as individual arguments or as lists of property
/// names. If `$predicate` is provided it is invoked for each property of `object`
/// picking the properties `$predicate` returns truthy for. The predicate is
/// bound to `$this-arg` and invoked with three arguments; (value, key, object).
///
///
/// @access public
/// @group Map
/// @param {Map} object The source object.
/// @param {Function|...(string|string[])} (predicate) The function invoked per
///  iteration or property names to pick, specified as individual property
///  names or lists of property names.
/// @param {*} ($this-arg) The `_this` binding of `$predicate`.
/// @returns {Map} Returns the new object.
/// @example scss
/// $object: { 'user': 'fred', 'age': 40 };
/// _pick(object, 'user');
/// // => { 'user': 'fred' }
/// _pick(object, _isString);
/// // => { 'user': 'fred' }

@function __pick($map, $predicate: '__identity', $this-arg: null) {
    @if $map == null {
        @return ();
    }

    $map: __to-map($map);

    @return if(__function-exists($predicate),
        __pick-by-callback($map, __bind-callback($predicate, $this-arg, 3)),
        __pick-by-list($map, __base-flatten(($map, $predicate, $this-arg), false, false, 1)));
}


@function _pick($args...) {
    @return call('__pick', $args...);
}
