@function __splice($list, $start, $delete-count: 1, $items...) {
    $result: ();
    $index: 1;

    @while $index < $start {
        $result: append($result, nth($list, $index));
        $index: $index + 1;
    }

    $index: $start + $delete-count;

    @while $index <= length($list) {
        $result: append($result, nth($list, $index));
        $index: $index + 1;
    }

    @return $result;
}


/// Removes items from a `$list` and adds new items in their place.
/// Similar to the native JavaScript [splice() function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/splice).
/// 
/// @param {List} $list - List to splice.
/// @param {Number} $start - Index to start changing the list.
/// @param {Number} $delete-count [1] - Number of list items to remove.
/// @param {*...} $items... - Items to add to the lsit.
/// @example scss
/// // todo
@function _splice($args...) {
    @return call('__splice', $args...);
}