

@function __splice($list, $start, $delete-count: 1, $items...) {
    $result: ();
    $index: 1;

    @while $index < $start {
        $result: append($result, nth($list, $index));
        $index: $index + 1;
    }

    $index: $start + $delete-count;

    @while $index <= length($list) {
        $result: append($result, nth($list, $index));
        $index: $index + 1;
    }

    @return $result;
}
