@function __times($n, $iteratee: '__identity', $this-arg: null) {
    $n: if(__is-falsey($n), 0, $n);
    $index: 1;
    $result: ();
    $iteratee: __bind-callback($iteratee, $this-arg, 1);

    @while $index <= $n {
        $result: append($result, __exec($iteratee, $index));
        $index: $index + 1;
    }

    @return $result;
}


/// Invokes the iteratee function `$n` times, returning a list of the results
/// of each invocation. The `$iteratee` is bound to `$this-arg` and invoked with
/// one argument; (index).
///
///
/// @access public
/// @group Utility
/// @param {number} n The number of times to invoke `$iteratee`.
/// @param {Function} $iteratee [_identity] - The function invoked per iteration.
/// @param {*} $this-arg - The `_this` binding of `$iteratee`.
/// @returns {List} Returns the list of results.
/// @example scss
/// $diceRolls: _times(3, _partial(_random, 1, 6, false));
/// // => (3, 6, 4)
/// _times(3, function(n) {
///   mage.castSpell(n);
/// });
/// // => invokes `mage.castSpell(n)` three times with `$n` of `0`, `1`, and `2` respectively
/// _times(3, function(n) {
///   this.cast(n);
/// }, mage);
/// // => also invokes `mage.castSpell(n)` three times

@function _times($args...) {
    @return call('__times', $args...);
}
