@function __without($list, $args...) {
    @return __base-difference($list, join((), $args));
}


/// Creates a list excluding all provided values.
///
///
/// @access public
/// @group List
/// @param {List} $list The list to filter.
/// @param {*...} $values... The values to exclude.
/// @returns {List} Returns the new list of filtered values.
/// @example scss
/// $foo: _without((1, 2, 1, 3), 1, 2);
/// // => (3,)

@function _without($args...) {
    @return call('__without', $args...);
}
