@function __pop($list) {
    $length: length($list);
    $index: 2;
    $popped-list: ();

    @while $index <= $length {
        $popped-list: append($popped-list, nth($list, $index));
        $index: $index + 1;
    }

    @return $popped-list;
}


@function __list-get($list, $index) {
    @if not type-of($index) == 'number' {
        @error '[__list-get] $index #{$index} for $list #{inspect($list)} is not a number.';
        @return null;
    }

    @if $index > length($list) {
        @return null;
    }

    @return nth($list, $index);
}


@function __string-get($string, $index) {
    @if type-of($index) != 'number' {
        @error '[__string-get] $index #{$index} for $string #{$string} is not a number.';
        @return null;
    }

    @if $index > str-length($string) {
        @return null;
    }

    @return str-slice($string, $index, $index);
}


@function __get($map, $keys) {
    $value-type: type-of($map);

    @if $value-type == 'string' {
        @return __string-get($map, nth($keys, 1));
    }

    @if $value-type != 'list' and $value-type != 'map' {
        @return null;
    }

    @if $value-type == 'list' {
        $index: nth($keys, 1);

        $map: __list-get($map, $index);
    } @else {
        $map: map-get($map, nth($keys, 1));
    }

    $keys: __pop($keys);

    @if not $map and length($keys) > 0 {
        @return null;
    }

    @if length($keys) == 0 {
        @return $map;
    }

    @return __get($map, $keys);
}


@function __set-list($list, $index, $value) {
    $length: length($list);

    @if type-of($index) != 'number' {
        @error '[__set-list] $index #{$index} for list #{inspect($list)} is not a number.';
        @return null;
    }

    @if $index <= $length {
        @return set-nth($list, $index, $value);
    }

    @while $index > $length + 1 {
        $list: append($list, null);

        $index: $index - 1;
    }

    $list: append($list, $value);

    @return $list;
}


@function __set($map, $properties, $value) {
    $property: nth($properties, 1);
    $properties: __pop($properties);
    $child-map: null;

    @if type-of($map) == 'list' and length($map) > 0 {
        @if $property > length($map) {
            $child-map: ();
        } @else {
            $child-map: nth($map, $property);
        }
    } @else if map-has-key($map, $property) {
        $child-map: map-get($map, $property);
    } @else {
        $child-map: ();
    }

    @if length($properties) == 0 {
        @if type-of($map) == 'list' and length($map) > 0 {
            @return __set-list($map, $property, $value);
        }

        @return map-merge($map, (
            $property: $value,
        ));
    }

    @if type-of($map) == 'list' and length($map) > 0 {
        @return __set-list($map, $property, __set($child-map, $properties, $value));
    }

    @return map-merge($map, (
        $property: __set($child-map, $properties, $value),
    ));
}


@function __push($map, $properties, $value) {
    $list: append(__get($map, $properties), $value);

    @return __set($map, $properties, $list);
}


@function __new($type, $params: (), $extends: false, $prototype: ()) {
    $instance-meta: (
        '_type': $type,
        '_constructor': $type,
        '_extends': $extends,
        '_prototype': $prototype,
    );

    $instance: ();

    @if $extends {
        $instance: map-merge($instance, __new($extends, $params));
    }

    $instance: map-merge($instance, call($type, $params...));
    $instance: map-merge($instance, $instance-meta);

    @return $instance;
}

@function __instance-of($value, $constructor) {
    @if not type-of($value) == 'map' {
        @return type-of($value) == $constructor;
    }

    @return __get($value, '_constructor') == $constructor;
}


/// Gets the value of a source `$value` from the specified key, or list
/// of keys for deep map retrieval.
/// 
/// If `$value` is list-like, indexes are used as keys.
/// 
/// 
/// @access public
/// @group Utility
/// @param {Map|List|String|Arglist} $value - Source value.
/// @param {*|List} $keys - Single key or list of keys for value retrieval
/// @returns {*} Returns the retrieved value.
/// @example scss

@function _get($args...) {
    @return call('__get', $args...);
}


/// Sets the value of a source `$value` at the specified key, or list
/// of keys for deep map setting.
/// 
/// If `$value` is list-like, indexes are used as keys.
/// 
/// 
/// @access public
/// @group Utility
/// @param {Map|List|String|Arglist} $value - Source value.
/// @param {*|List} $keys - Single key or list of keys for value setting
/// @returns {*} Returns a new `$value` with the set value.
/// @example scss

@function _set($args...) {
    @return call('__set', $args...);
}


@function _new($args...) {
    @return call('__new', $args...);
}

@function _instance-of($args...) {
    @return call('__instance-of', $args...);
}
