


@function __to-comparable($value, $customizer: null, $guard: null) {
    @if not (__function-exists($customizer)) {
        $customizer: if(__is-string($value), __get-char-code, __identity);
    }

    $value: __exec($customizer, $value);

    @return $value;
}

@function __to-iterable($value) {
    @if ($value == null) {
        @return ();
    }

    @if (__is-string($value)) {
        @return __to-map(__string-split($value, ''));
    }

    @if not (__is-length(length($value))) {
        @return __values($value);
    }

    @return if(__is-map($value), $value, __to-map($value));
}

@function __to-map($value) {
    @if (__is-string($value)) {
        $index: 1;
        $length: str-length($value);
        $result: ();

        @while ($index <= $length) {
            $result: set($result, $index, __char-at($value, $index));

            $index: $index + 1;
        }

        @return $result;
    } @else if (__is-list-like($value)) {
        $index: 1;
        $length: length($value);
        $result: ();

        @while ($index <= $length) {
            $result: set($result, $index, nth($value, $index));

            $index: $index + 1;
        }

        @return $result;
    } @else if (__is-map($value)) {
        @return $value;
    }

    @return null;
}
