
@function __char-at($string, $index) {
    @return str-slice($string, $index, $index);
}

@function __list-reverse($list) {
    $length: length($list);
    $result-list: ();

    @for $index from $length through 1 {
        $result-list: append($result-list, nth($list, $index));
    }

    @return $result-list;
}

@function pow($number, $exp) {
    $value: 1;
    
    @if $exp > 0 {
        // If the exponent is positive, multiply.
        @for $i from 1 through $exp {
           $value: $value * $number;
        }
    }
    @else if $exp < 0 {
        // If the exponent is negative, divide.
        @for $i from 1 through -$exp {
            $value: $value / $number;
        }
    }

    @return $value;
}

@function __parse-float($value) {
    @if type-of($value) == number {
        @return $value;
    }

    @return __to-number($value);
}

@function __is-length($value) {
    @return type-of($value) == number
        and $value > -1
        and $value % 1 == 0
        and $value < (pow(2, 53) - 1);
}

@function __is-index($value, $length: null) {
    $value: __parse-float($value);

    @debug $value, $length, $value <= $length;
    
    @return $value > 0
        and $value % 1 == 0
        and ($length == null or $value <= $length);
}

@function __create-cache($values) {
    @return new(SetCache, $values);
}

@function __to-map($value) {
    @if (type-of($value) == string) {
        $index: 1;
        $length: str-length($value);
        $result: ();

        @while ($index <= $length) {
            $result: set($result, $index, __char-at($string, $index));
        }

        @return $result;
    } @else if (type-of($value) == list) {
        $index: 1;
        $length: length($value);
        $result: ();

        @while ($index <= $length) {
            $result: set($result, $index, nth($value, $index));

            $index: $index + 1;
        }

        @return $result;
    } @else if (type-of($value) == map) {
        @return $value;
    }
}

@function __to-list($value) {
    // TODO
    @if type-of($value) == 'map' {
        $length: length($value);
        $index: 1;
        $result: ();

        @while ($index <= $length) {
            $result: append($result, get($value, $index));

            $index: $index + 1;
        }

        @return if($result == map-values($value), $result, map-values($value));
    }

    @if type-of($value) == 'string' {
        $result: ();

        @for $index from 1 through str-length($value) {
            $result: append($result, str-slice($value, $index, $index));
        }

        @return $result;
    }

    @return $value;
}

@function __is-list($value) {
    @return type-of($value) == list;
}

@function __is-arguments($value) {
    @return __is-list($value);
}

@function __keys-in($map) {
    $map: __to-map($map);

    @return map-keys($map);
}

@function __keys($map) {
    // currently the same as __keys-in
    @return __keys-in($map);
}

@function __base-for($map, $iteratee, $keys-function) {
    $index: 1;
    $iterable: __to-map($map);
    $props: call($keys-function, $iterable);
    $length: length($props);
    $result-map: ();

    $break: false;

    @while ($index <= $length and not $break) {
        $key: nth($props, $index);
        $iteration: call($iteratee, get($iterable, $key), $key, $iterable);

        @if ($iteration == false) {
            $break: true;
        } @else {
            $result-map: set($result-map, $key, $iteration);
        }

        $index: $index + 1;
    }

    @return $result-map;
}

@function __base-for-own($map, $iteratee) {
    @return __base-for($map, $iteratee, __keys);
}

@function __is-strict-comparable($value) {
    @return true;
}

@function __is-list-like($value) {
    // TODO
    @return __is-list($value);
}

@function __is-plain-map($value) {
    // TODO
    @return (type-of($value) == 'map')
        and not (map-has-key($value, '_constructor'));
}

@function __get-index-of() {
    @return '__base-index-of';
}

@function __identity($value, $args...) {
    @return $value;
}

@function call-this($function, $this-arg, $values...) {
    $_: this($this-arg);

    @return call($function, $values...);
}

@function __native-min($args...) {
    @return min($args...);
}

@function __native-max($args...) {
    @return max($args...);
}

@function __native-is-finite($value) {
    // todo
    @return true;
}

@function __repeat($string, $value: 1) {
    $result: '';

    @for $iteration from 1 through $value {
        $result: $result + $string;
    }

    @return $result;
}

// @debug __repeat('abc', 4);

@function __is-undefined($value) {
    // @return $value == '__undefined__';

    @return $value == null;
}

@function __noop($args...) {
    @return null;
}

@function __is-ctor($ctor) {
    // todo
    @return function-exists($ctor);
}

@function __is-string($value) {
    @return (type-of($value) == 'string');
}

@function __string-split($string, $delimiter: '') {
    @if (not $delimiter)
        or (length($delimiter) == 0)
        or ($delimiter == '')
    {
        @return __to-list($string);
    }

    $delimiter-index: str-index($string, $delimiter);

    @if not ($delimiter-index) {
        @return $string;
    }

    @return join(
        str-slice($string, 1, $delimiter-index - 1),
        __string-split(
            str-slice($string, $delimiter-index + length($delimiter-index)),
            $delimiter));
} 

// @debug __string-split('asd,qwe,zxc,rty,fgh,234', ',');
// @debug __string-split('abcde');

@function __is-map($value) {
    @return type-of($value) == 'map';
}

@function __is-falsey($value) {
    @if ($value == null)
        or ($value == '')
        or ($value == "")
        or ($value == $__undefined__)
        or ($value == 0)
        or not ($value)
    {
        @return true;
    }

    @return false;
}

@function __splice($list, $start, $delete-count: 1, $items...) {
    $result: ();
    $index: 1;

    @while ($index < $start) {
        $result: append($result, nth($list, $index));

        $index: $index + 1;
    }

    $index: $start + $delete-count;

    @while ($index <= length($list)) {
        $result: append($result, nth($list, $index));

        $index: $index + 1;
    }

    @return $result;
}

// @debug __splice((10 20 30 40 50 60), 3, 2);